/*basic settings*/
$color-button: #ff9d00

*
  box-sizing: border-box

html
	font-size: 10px

body
	font-family: 'Roboto', sans-serif
	font-weight: 500

img
	max-width: 100%

section
	padding: 5% 0
	
.container
	max-width: 1140px
	width: 95%
	margin: 0 auto

.button
	background-color: $color-button
	border-radius: 10px
	color: #fff
	padding: 1.4rem 2rem
	border: none
	outline: none
	cursor: pointer
	font-size: 1.6rem
	


@import 'header'

@import 'media'