/*basic settings*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

img {
  max-width: 100%;
}

section {
  padding: 7% 0;
}

.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
}

.button {
  background-color: #ff9d00;
  border-radius: 5px;
  color: #fff;
  padding: 1.4rem 2rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.button:hover {
  background-color: #e68d00;
}

.section-header {
  font-size: 2.7rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-header__line {
  width: 50px;
  margin: 16px auto;
}

/** header class="header" **/
.header {
  padding: 4% 0 1.6rem 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  background: url(../img/header/logo.png) center no-repeat;
  background-size: 100%;
  width: 150px;
  height: 60px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__contacts_phons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin-right: 2.5rem;
}

.header__contacts_phons-1 {
  margin-right: 1.5rem;
  padding-right: 1.5rem;
  border-right: 1px solid #cfcfd0;
}

.header__button::before {
  content: '';
  display: inline-block;
  background: url(../img/header/phon-button.png) center no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

/** section class="main" **/
.main-img {
  position: relative;
}

.main-img::before {
  content: '';
  display: block;
  height: 400px;
  width: 400px;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: translateX(10%) translateY(-5%);
          transform: translateX(10%) translateY(-5%);
  opacity: 0.4;
}

.main-item {
  position: relative;
  background: #000 url(../img/main/main-bg-1.jpg) center no-repeat;
  background-size: cover;
  z-index: 0;
  padding: 6.5rem 0 6rem 0;
}

.main-item::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.main-item_2 {
  background: #000 url(../img/main/main-bg-2.jpg);
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-offer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.main-offer__title {
  font-size: 4.1rem;
  font-weight: 700;
  color: #fff;
}

.main-offer__title span {
  display: block;
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: 2rem;
}

.main-form {
  background-color: rgba(98, 96, 90, 0.8);
  padding: 3rem;
  border-radius: 5px;
  margin-top: 2.5rem;
}

.main-form__descr {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.main-form__descr span {
  font-weight: 700;
  display: block;
  margin: 1rem 0 2rem 0;
  text-transform: uppercase;
}

.main-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-form__input {
  font-size: 1.4rem;
  font-weight: 300;
  padding: 2rem;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-form__small {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  margin-top: 1.5rem;
}

.main__button {
  padding: 2rem;
  margin-left: 1rem;
}

/** section class="features" **/
.features {
  background-color: #f4f4f4;
}

.features-advantage {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.features-advantage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features-advantage__title {
  font-size: 3.6rem;
  font-weight: 700;
  color: #f39003;
  text-align: center;
}

.features-advantage__title span {
  vertical-align: super;
  font-size: 2rem;
}

.features-advantage__subtitle {
  font-size: 1.6rem;
  text-align: center;
  max-width: 30rem;
  margin: 2rem auto 2rem auto;
  line-height: 1.3;
  padding: 0 1rem;
}

.features-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 2.5rem 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31%;
          flex: 0 1 31%;
  margin-top: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-benefits__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-benefits__img {
  margin-right: 1.5rem;
  width: 90px;
}

.features-benefits__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.features-benefits__descr {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
}

/** section class="products" **/
.products__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin-top: 5rem;
}

.product__img {
  min-height: 285px;
}

.product__title {
  font-size: 2rem;
  margin: 1rem auto;
  text-align: center;
  line-height: 1.2;
  min-height: 50px;
}

.product-buttons {
  text-align: center;
}

.product__btn {
  border: 1px solid transparent;
  margin-left: 10px;
}

.button-o {
  background-color: transparent;
  color: #9b9b9b;
  border: 1px solid #9b9b9b;
}

.button-o:hover {
  background-color: #f7f3f3;
}

/** section class="proposer" **/
.proposer {
  background: #000 url(../img/proposer/proposer-bg.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 0;
}

.proposer::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.proposer__title {
  font-size: 3.2rem;
  line-height: 1.3;
}

.proposer__title span {
  display: block;
  font-size: 2.6rem;
}

.proposer-form {
  margin-top: 4rem;
}

.proposer-form__label {
  font-size: 2rem;
  font-weight: 300;
}

.proposer-form__input {
  width: 365px;
  border-radius: 5px;
  text-align: center;
  margin-top: 2rem;
  padding: 20px;
}

.proposer-form__btn {
  display: block;
  margin: 1.5rem auto 1rem;
  padding: 20px 30px;
}

/** section class="production" **/
.production-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.production-slider__wrap {
  position: relative;
  display: inline-block;
  width: 55%;
  z-index: 1;
}

.production-slider__item img {
  width: 100%;
}

.production-slider-small {
  position: relative;
  margin-top: 1.5rem;
  padding: 0 20px;
}

.production-slider-small div {
  margin: 0 0.7rem;
}

.production-slider-small div img {
  min-height: 8rem;
}

.production-text {
  display: inline-block;
  width: 40%;
  margin-left: 3rem;
  vertical-align: top;
}

.production-text__title {
  font-size: 2.8rem;
  background-color: #ff9d00;
  color: #fff;
  padding: 2rem 4rem;
  margin-bottom: 3rem;
  width: 110%;
  -webkit-transform: translateX(-9%);
          transform: translateX(-9%);
  z-index: -1;
}

.production-text__descr {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 2rem;
}

.production-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 1rem;
  border: 1px solid #ff9d00;
  cursor: pointer;
}

.production-arrow__mob {
  height: 100px;
  padding: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid #ff9d00;
}

.production-prev {
  left: 0;
  background: #fff url(../img/production/back1.png) center no-repeat;
  z-index: 1;
}

.production-prev:hover {
  background: #ff9d00 url(../img/production/back.png) center no-repeat;
}

.production-next {
  right: 0;
  background: #fff url(../img/production/next1.png) center no-repeat;
}

.production-next:hover {
  background: #ff9d00 url(../img/production/next.png) center no-repeat;
}

/** footer class="footer" **/
.footer {
  background-color: #1b1b1b;
  padding: 4rem 0;
}

.footer__text {
  display: block;
  color: #a8a8a8;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}

.footer__text a {
  color: #a8a8a8;
}

/** Media **/
@media (max-width: 992px) {
  section {
    padding: 10% 0;
  }
  .main-img::before {
    display: none;
  }
  .main-offer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    margin-left: 2rem;
  }
}

@media (max-width: 940px) {
  .features-advantage__title {
    font-size: 3rem;
  }
  .features-advantage__subtitle {
    font-size: 1.4rem;
  }
  .features-benefits {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
}

@media (max-width: 800px) {
  .products__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product__img {
    min-height: auto;
  }
  .production {
    text-align: center;
  }
  .production-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .production-slider__wrap {
    width: 100%;
    margin-top: 3rem;
  }
  .production-text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .production-text__title {
    width: 100%;
    -webkit-transform: none;
            transform: none;
  }
  .production-text__descr {
    width: 70%;
    margin: 2rem auto;
  }
}

@media (max-width: 767px) {
  .header__logo {
    background: url(../img/header/logo-mobile.png) center no-repeat;
    background-size: 100%;
    width: 45px;
    height: 45px;
  }
  .header__contacts_phons {
    margin-right: 1rem;
  }
  .header__button::before {
    display: none;
  }
  .main-img {
    display: none;
  }
  .main-offer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0;
  }
  .main-item_2 {
    display: none;
  }
  .features-advantage__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .features-advantage__title {
    font-size: 3.6rem;
  }
  .features-advantage__subtitle {
    font-size: 1.6rem;
    max-width: 100%;
    margin: 1.5rem auto 5rem auto;
  }
  .features-benefits {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .features-benefits__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .production-slider {
    position: relative;
  }
  .production-slider-small {
    display: none;
  }
}

@media (max-width: 603px) {
  .header__contacts_phons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  .header__contacts_phons-1 {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  .production-text__descr {
    width: 100%;
  }
}

@media (max-width: 510px) {
  .main-form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__button {
    margin: 1.5rem 0;
  }
}

@media (max-width: 385px) {
  .header__button {
    padding: 1.5rem;
  }
  .header__button::before {
    content: '';
    display: inline-block;
    background: url(../img/header/phon-button.png) center no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 0;
    vertical-align: middle;
  }
  .header__button span {
    display: none;
  }
  .proposer-form__input {
    width: 100%;
  }
}
